{% extends "course/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}
{% block content %}
    <div class="container mt-5">

        <div class="row d-flex justify-content-center">

            <div class="col-md-7">

                <div style="border-radius: 20px ;background-color: #F0F0F0; !important;" class="card p-3 py-4">

                    <div class="text-center">
                        <img style="border-radius: 20px" src="{{ user.image.url }}" width="100" >
                    </div>

                    <div class="text-center mt-3">
                        <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                        <h5 class="mt-2 mb-0">{{ user.username }}</h5>
                      {% if user.course_paid %}
                        <span>Active courses:</span>
                        {% for course in user.course_paid.all  %}
                          <li>{{ course.title }} <br>
                            All course lectures {{ course.lecture.count }} <br>
                          Your done lectures:
                          {{ number_done_lectures.count }}
                            {% endfor %}
                        </li>
                      {% endif %}

                        <div class="px-4 mt-1">
                            <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat. </p>

                        </div>

                        <ul class="social-list">
                            <li><i class="fa fa-facebook"></i></li>
                            <li><i class="fa fa-dribbble"></i></li>
                            <li><i class="fa fa-instagram"></i></li>
                            <li><i class="fa fa-linkedin"></i></li>
                            <li><i class="fa fa-google"></i></li>
                        </ul>

                        <div class="buttons">
                            <a href="{% url "course:profile-edit" pk=user.pk %}" class="btn btn-outline-primary px-4">Edit</a>
                            <button class="btn btn-primary px-4 ms-3">Learn</button>
                        </div>


                    </div>


                </div>

            </div>

        </div>

    </div>
{% endblock %}